<div id="biz-search-box">
<b>Search For Business:</b>
<input type="text" id="business_search" value=""/>
<br/>
<i>(Please click on one of the results below)</i>
<br/>
<span class="note">Please Note: Business Listing Available Until May 30th - <a href="/main/contact_us">Please Update/Contact to Remain</a></span>
<br/>
<div id="search_results"></div>
</div>