<%=render(:partial=>"shared/header",:object=>nil,:locals=>{:no_styles=>false})%>
<div class="page_body">
	<div class="pretty_form">
		<div class="pretty_form_header">Brochure Request</div>
		<div class="pretty_form_body">
			<p>Brochure Requested!</p>
			<p><%=link_to "Back to Map",:action=>:welcome,:controller=>:main%></p>
		</div>
	</div>
</div>