<%=render(:partial=>"shared/header",:object=>nil,:locals=>{:no_styles=>false})%>
<div class="page_body" style="width:80%">
	<div class="pretty_form" style="width:360px;">
		<div class="pretty_form_header"><%=params[:request]%></div>
		<div class="pretty_form_body">
			<p>Request Sent!</p>
			<p><%=link_to "Back to Map",:action=>:welcome,:controller=>:main%></p>
		</div>
	</div>
</div>
