<%=render(:partial=>"shared/header",:object=>nil,:locals=>{:no_styles=>false})%>
<div class="page_body">
	<div class="pretty_form">
		<div class="pretty_form_header">Advertisers</div>
		<div class="pretty_form_body">
			<%=link_to "Request Brocure",:action=>:request_brochure%><br/>
			<%=link_to ""%>
		</div>
	</div>
</div>