<div style="font-size:10pt">
	<b>Welcome to Vacationstxt.com!</b><br>
	<p><b>Renter:</b></p>

	   <p>1. Register</p>
	   <p>2. Search for vacation rentals that fit your needs</p>
	   <p>3. Add potential rentals to your Trip List</p>
	   <p>4. Check Availability</p>
	   <p>5. Book the rental that suits you</p>
	   <p>6. The owner will contact you</p>



	<p><b>Owners:</b></p>

	   <p>1. Register</p>
	   <p>2. List your properties</p>
	   <p>3. When someone is interested in renting your property, you will receive a text message with the dates of interest.</p>
	   <p>4. You reply ‘yes’ or ‘no’</p>
	   <p>5. If you reply ‘yes’, the website will show your property as booked for those dates and will send you a text message with the renter’s phone number.</p>
	   <p>6. Contact the renter </p>


</div>