<%=render(:partial=>"shared/header",:object=>nil,:locals=>{:no_styles=>false})%>
<div class="page_body">
	<div class="pretty_form" style="width:400px;">
		<div class="pretty_form_header">Forgot my Password</div>
		<div class="pretty_form_body">
			<% form_tag :action=>:recover_password do -%>
				Email: <%= text_field_tag :email%><br/>
				<%= submit_tag "Recover Password"%>
			<% end -%>
		</div>
	</div>
</div>