<%=render(:partial=>"shared/header",:object=>nil,:locals=>{:no_styles=>false})%>
<div class="page_body">
	<h3>Your login credentials have been emailed to you!</h3>
	<%=link_to "Back to Map",:action=>:welcome,:controller=>:main%>
</div>